.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-style {
  color: var(--accent-color);
}
.menu {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  &.current::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.current {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
}
.contact-link:not(:last-child) {
  margin-right: 50px;
}
.email-link,
.fone-link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.link-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
